.button {
  padding: 12px 24px;
  border-radius: 99px;
  font-weight: 700;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  transition: .2s;

  &_light {
    background: white;
    border: 1px solid rgba(228, 230, 232, 0.6);
    color: black;

    &:hover {
      border: 1px solid #263959;
      background: #263959;
      color: white;
    }
  }

  &_dark {
    background: #263959;
    border: 1px solid #263959;

    &:hover {
      background: white;
      border: 1px solid rgba(228, 230, 232, 0.6);

      color: black;
    }
  }
}
