@import "@styles/mixins.scss";

.body {
  min-height: 100vh;
  padding: 28px;
  min-width: 305px;
  border-right: 1px solid rgba(228, 230, 232, 0.6);

  @include adaptive("sm") {
    min-height: auto;
  }
  @include adaptive("xsm") {
    padding: 20px;
  }
}

.items {
  margin-top: 35px;
  position: sticky;
  top: 40px;
  @include adaptive("xsm") {
    position: fixed;
    height: 100vh;
    background: white;
    width: 100%;
    top: -100vh;
    left: 0;
    margin-top: 0;
    z-index: 900;
    transition: 0.2s;
    padding: 20px;

    &_opened {
      top: 0;
    }
  }
}

.logo {
  cursor: pointer;
  @include adaptive("xsm") {
    display: none;
  }
}

.mobile_header {
  display: none;
  margin-bottom: 20px;
  @include adaptive("xsm") {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}


.sidebar_item {
  padding: 17px 30px;
  cursor: pointer;
  border-radius: 28px;
  margin: 5px 0;
  background: white;
  position: relative;
  overflow: hidden;

  &_animate_balloon {
    transition: 0.4s;
    position: absolute;
    width: 10px;
    height: 100%;
    top: 20px;
    background: #f5f5fa;
    left: -10px;
    border-radius: 0 50% 50% 0;
  }

  &_active &_animate_balloon {
    top: 0;
    width: 500px;
    height: 400px;
    @include adaptive("sm") {
      width: 900px;
      height: 900px;
    }
  }


  &_content {
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 100;

    p {
      margin-left: 30px;
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 21px;
      color: #8083a3;
    }

    &_active {
      p {
        color: black;
      }
    }
  }
}


