.search {
  padding: 8px 32px 8px 12px;
  background: rgba(249, 249, 249, 0.9);
  border-radius: 3px;
  width: 100%;

  &_wrapper {
    position: relative;
    max-width: 400px;
    width: 100%;
  }

  &_icon {
    position: absolute;
    right: 12px;
    top:50%;
    transform: translateY(-50%);
  }
}
