@import "includes/reset";
@import "includes/normalize";
@import "variables";
@import "fonts";
@import "../public/fonts/Inter/stylesheet.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $main-font !important;

}

body {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

button,
input {
  background: none;
  outline: none;
  border: none;
}

.gradient_background {
  background: linear-gradient(
    134.33deg,
    #ab67ff -0.08%,
    #00d48a 98.98%
  ) ;
}

.fontExtraSmall {
  font-size: 12px;
}

.fontSmall {
  font-size: 16px;
}

.fontMedium {
  font-size: 18px;
}

.fontLarge {
  font-size: 24px;
}

.fontExtraLarge {
  font-size: 32px;
}

.mantine-1fn8md5 .ql-editor {
  word-wrap: break-word;
  padding: 10px 0 !important;
}
