@import "@styles/variables.scss";

.button_card {
  padding: 17px 24px;
  border: 1px solid rgba(228, 230, 232, 0.6);
  border-radius: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &_content {
    h5 {
      font-weight: 700;
      font-size: 16px;
      line-height: 24px;
      display: flex;
      align-items: center;
      color: #000000;
    }

    p {
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 21px;
      color: #8083a3;
    }
  }

  &_buttons {
    display: flex;
    gap: 15px;
    align-items: center;
  }
}
